<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="wrapper">
    <div class="signup_container">
      <main class="signup_contents">
        <section class="signup_content">
          <div class="signup_left_content">
            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :ニックネーム, class: "signup_explanation" %><br />
              <%= f.text_field :nickname, placeholder: "わくスト太郎", autofocus: true, class: "input_signup_form" %>
            </div>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :Eメールアドレス, class: "signup_explanation" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input_signup_form" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :パスワード, class: "signup_explanation" %><br />
              <%= f.password_field :password, placeholder: "英数字8文字以上", autocomplete: "new-password", class: "input_signup_form" %>
            </div>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :パスワード（再確認）, class: "signup_explanation" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_signup_form" %>
            </div>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :現在のパスワード, class: "signup_explanation" %><br />
              <%= f.password_field :current_password, autocomplete: "current-password", class: "input_signup_form" %>
            </div> 
          </div>

          <div class="signup_right_content">
            <div class="field">
              <p class="ninni">任意</p>
              <div class="signup_my_image_btn">
                <%=f.label :my_image, class: "input_my_image_label" do %>
                  <%=fa_icon "camera-retro", class: "input_my_image_icon" %>
                  <%=f.file_field :my_image, class: :input_my_image %>
                <%end%>
                <p class="signup_my_image_explanation"> 👈クリックして画像をアップロード</p>
              </div>
            </div>
            
            <div class="signup_my_image_area">
              <div class="signup_my_image_area_inner">
                <%if current_user.my_image?%>
                  <%= image_tag "#{current_user.my_image}", id: :img_prev %>
                <%else%>
                  <%= image_tag "no_avatar.png", id: :img_prev %>
                <%end%>
                <p><%= f.check_box :remove_my_image, id: :img_prev_delete %>画像を登録しない</p>
                </div>
            </div>

            <div class="field">
              <p class="ninni">任意</p>
              <%= f.label :自己紹介, class: "signup_explanation" %><br />
              <%= f.text_area :profile_text, placeholder: "こんにちは、わくスト太郎です", rows: 14, class: :input_signup_profile_form %>
            </div>
          </div>
          <div class="signup_action_box">
            <div class="signup_action">
              <%= f.submit "編集するしてメイン画面に戻る", class: "signup_actions_btn" %>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
<% end %>
