<h2 class="signup_title">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="wrapper">
    <div class="signup_container">
      <main class="signup_contents">
        <section class="signup_content">
          <div class="signup_left_content">
            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :ニックネーム, class: "signup_explanation" %><br />
              <%= f.text_field :nickname, placeholder: "わくスト太郎", autofocus: true, class: "input_signup_form" %>
            </div>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :Eメールアドレス, class: "signup_explanation" %><br />
              <%= f.email_field :email, placeholder: "wakusto@com", autocomplete: "email", class: "input_signup_form" %>
            </div>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :パスワード, class: "signup_explanation" %>
              <br />
              <%= f.password_field :password, placeholder: "英数字8文字以上", autocomplete: "new-password", class: "input_signup_form" %>
            </div>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :パスワード（再確認）, class: "signup_explanation" %><br />
              <%= f.password_field :password_confirmation, placeholder: "英数字8文字以上", autocomplete: "new-password", class: "input_signup_form" %>
            </div>
          </div>


          <div class="signup_right_content">
            <div class="field">
              <p class="ninni">任意</p>
              <div class="signup_my_image_btn">
                <%=f.label :my_image, class: "input_my_image_label" do %>
                  <%=fa_icon "camera-retro", class: "input_my_image_icon" %>
                  <%=f.file_field :my_image, class: :input_my_image %>
                <%end%>
                <p class="signup_my_image_explanation"> 👈クリックで画像アップロード(5MBまで)</p>
              </div>
            </div>
            
            <div class="signup_my_image_area">
              <div class="signup_my_image_area_inner">
                <%= image_tag "no_avatar.png", id: :img_prev %>
                <p><%= f.check_box :remove_my_image, id: :img_prev_delete %>画像を登録しない</p>
                </div>
            </div>

            <div class="field">
              <p class="ninni">任意</p>
              <%= f.label :自己紹介, class: "signup_explanation" %><br />
              <%= f.text_area :profile_text, placeholder: "こんにちは、わくスト太郎です", rows: 10, class: :input_signup_profile_form %>
            </div>
          </div>
          <div class="signup_action_box">
            <div class="signup_action">
              <%= f.submit "仮登録する", class: "signup_actions_btn" %>
            </div>
          </div>
          <div class="signup_mail_info">
            ※仮登録後、本登録用メールが送信されます
          </div>
        </section>
      </main>
    </div>
  </div>
<% end %>
      
    
  
