<div class="wrapper">
  <div class="maintitle_new_title_contents">
    <h1 class="maintitle_new_title_content">開設する</h1>
  </div>
  <div class="maintitle_new_container">
    <div class="maintitle_new_main_contents">
      <%=form_with model: @maintitles, local:true do |f|%>
      <div class="field">
          <p class="hissu">必須</p>
          <%=f.label :ジャンル, class: :story_new_explanation %><br />
          <%=f.select :genre, Maintitle.genres.keys, {:prompt => "---"} %>
        </div>
        <div class="field">
          <p class="hissu">必須</p>
          <%=f.label :開設するタイトル, class: :story_new_explanation %><br />
          <%=f.text_field :maintitle, class: 'input_story_new_form' %>
        </div>
        <div class="field">
          <p class="ninni">任意</p>
          <%=f.label :説明, class: :story_new_explanation %><br />
          <%=f.text_area :explanation, rows: 15, class: 'input_story_new_form' %>
        </div>
        
        <%=f.submit "登録する", class: 'btn btn-primary'%>
      <%end%>
    </div>
    <div class="maintitle_new_side_menu">
      <%=render 'shared/side_menu'%>
    </div>
  </div>
</div>