<div class="wrapper">
  <div class="esta_title_area">
    <h1 class="esta_title"><%=@user.nickname%>さんの小説一覧</h1>
  </div>
  
  <div class="esta_container">
    <div class="esta_main_contents">
      <div class="new_esta_list">
        小説一覧
      </div>
      <%@maintitles.each do |maintitle|%>
        <%=link_to maintitle_post_list_path(maintitle), class: :mystory_titles do%>
          <div class="mystory_novels_area">
            <div class="mystory_novels_cover_area">
              <%if maintitle.cover.present?%>
                <%=image_tag maintitle.cover.to_s, class: :mystory_novel_cover%>
              <%else%>
                <%=image_tag "no_image3.png", class: :mystory_novel_cover%>
              <%end%>
            </div>
            <div class="mystory_maintitle_explanation_area">
              <div class="mystory_maintitle_explanation">
              小説名　：
                <div class="mystory_maintitle">
                  <div class="mystory_title">
                    <%=safe_join(maintitle.maintitle.split("\n"),tag(:br))%>
                  </div>
                </div>
              </div>
              <div class="mystory_title_genres_explanation">
                ジャンル：
                <div class="mystory_title_genres">
                  <%=maintitle.genre%>
                </div>
              </div>
              <div class="mypage_maintitle_tags_explanation">
                タグ　　：
                <div class="mypage_maintitle_tags">
                  <%=render 'shared/mypage_tag_list', tag_list: maintitle.tag_list%>
                </div>
              </div>
              
              <div class="mystory_upload_time_explanation">
                作成日　：
                <div class="mystory_upload_time">
                  <%=maintitle.created_at.strftime('%Y/%m/%d')%>
                </div>
              </div>
              <div class="mystory_maintitle_review_explanation">
                <i class="fa fa-thumbs-o-up">
                </i>
                　　　:
                <%if maintitle.reviews.present?%>
                  <%@a = []%>
                  <%maintitle.reviews.each do |maintitle_review|%>
                    <%p = maintitle_review.review%>
                    <%@a.push(p)%>
                  <%end%>
                  <%maintitle_review = @a.sum%>
                  <%=maintitle_review%>
                <%else%>
                  0
                <%end%>
                
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
      <div class="mypage_paginate">
        <%=paginate(@maintitles)%>
      </div>
    </div>
    <%if user_signed_in?%>
      <%if @user != current_user%>
        <%=render 'shared/not_current_side_menu'%>
      <%elsif @user == current_user%>
        <%=render 'shared/side_menu'%>
      <%end%>
    <%else%>
      <%=render 'shared/user_profile_side_menu'%>
    <%end%>
  </div>
</div>