<div class="wrapper">
  <div class="mypagemain_title_area">
    <h1 class="mypagemain_title"></h1>
  </div>
  <h1 class="mypagemain_explanation">投稿一覧</h1>
  <div class="mypagemain_container">
    <div class="mypagemain_main_contents">
      <%@stories.each do |story|%>
        <div class="mystory_titles_area">
          <%=link_to story_path(story), class: :mystory_titles do%>
            <div class="mystory_title">
            ○　<%=story.title%>
            </div>
          <%end%>
          <div class="mystory_title_tags">
            <%=render 'shared/mypage_tag_list', tag_list: story.tag_list%>
          </div>
          <div class="mystory_upload_time">
            <%=story.created_at.strftime('%Y/%m/%d %H:%M')%>
          </div>
        </div>
      <%end%>
      <div class="mypage_paginate">
        <%=paginate(@stories)%>
      </div>
    </div>
    <%=render 'shared/side_menu'%>
  </div>
</div>