<div class="wrapper">
  <div class="mypagemain_title_area">
    <h1 class="mypagemain_title"></h1>
  </div>
  <h1 class="story_explanation">投稿一覧</h1>
  <div class="story_container">
    <div class="story_main_contents">
      <%@stories.each do |story|%>
        <div class="story_titles_area">
          <%=link_to maintitle_story_path(@maintitle, story), class: :mystory_titles do%>
            <div class="story_title">
            ○　<%=story.title%>
            </div>
          <%end%>
          <div class="tags_and_time_area">
            <div class="story_title_tags">
              <%=render 'shared/mypage_tag_list', tag_list: story.tag_list%>
            </div>
            <div class="story_upload_time">
              <%=story.created_at.strftime('%Y/%m/%d %H:%M')%>
            </div>
          </div>
        </div>
      <%end%>
      <div class="mypage_paginate">
        <%=paginate(@stories)%>
      </div>
    </div>
    <%=render 'shared/side_menu'%>
  </div>
</div>