<div class="wrapper">
  <div class="mypagemain_title_area">
    <h1 class="mypagemain_title"><%=safe_join(@maintitle.maintitle.split("\n"),tag(:br))%></h1>
  </div>
  
  <div class="story_container">
    <div class="story_main_contents">
      <%if user_signed_in?%>
        <%if @user != current_user%>
          <div class="favorite_area">
            <% if !Favorite.exists?(user_id:current_user.id, maintitle_id: @maintitle.id) %>
              <div class="like_area">
                <%= link_to "お気に入り", maintitle_like_path(@maintitle),method: :post, class: :favorite_btn%>
              </div>
            <% else %>
              <div class="unlike_area">
                <%= link_to "お気に入り解除", maintitle_unlike_path(@maintitle), method: :delete, class: :favorite_btn %>
              </div>
            <%end%>
          </div>
        <%end%>
      <%end%>
      <%if @maintitle.cover.present?%>
        <div class="posli_cover_area">
          <%=image_tag @maintitle.cover.to_s, class: :posli_cover%>
        </div>
      <%end%>
      <div class="posli_story_user_time_genre_area">
        <div class="posli_user_nickname_image_area">
          <div class="posli_story_user_nickname">
            作者　　：
              <%=link_to profile_user_path(@user), class: :posli_story_user_nickname_link do%>
                <%=@user.nickname%>
              <%end%>
          </div>
          <div class="posli_story_user_image">
            <%if @user.my_image.present?%>
              <%=image_tag @user.my_image.to_s, class: :posli_story_user_image_icon%>
            <%else%>
              <%=image_tag "no_avatar.png", class: :posli_story_user_image_icon%>
            <%end%>
          </div>
        </div>
        <div class="posli_maintitle_time">
          作成日：　<%=@maintitle.created_at.strftime('%Y/%m/%d')%>
        </div>
        <div class="posli_maintitle_genre_explanation">
          ジャンル：
          <div class="posli_maintitle_genre">
            <%=@maintitle.genre%>
          </div>
        </div>
      </div>
        小説の概要
      <div class="posli_maintitle_explanation_area">
        <%if @maintitle.explanation?%>
          <%=safe_join(@maintitle.explanation.split("\n"),tag(:br))%>
        <%else%>
          未登録
        <%end%>
      </div>

      <%if user_signed_in?%>
        <%if @user == current_user%>
          <div class="posli_story_new_edit_area">
            <div class="posli_story_new_btn_area">
              <%=link_to new_maintitle_story_path(@maintitle), class: :posli_story_new_btn do%>
                小説を書く
              <%end%>
            </div>
            <div class="posli_story_edit_btn_area">
              <%=link_to edit_maintitle_path(@maintitle), class: :posli_story_edit_btn do%>
                小説の情報を編集する
              <%end%>
            </div>
          </div>
        <%end%>
      <%end%>



      <div class="posli_story_list_explanation_area">
        <h1 class="posli_story_list_explanation">
          投稿一覧
        </h1>
      </div>


      <%@stories.each do |story|%>
        <%@maintitle = story.maintitle%>
        <%=link_to maintitle_story_path(@maintitle, story), class: :mystory_title do%>
          <div class="mystory_titles_area">
            <div class="mystory_novels_cover_area">
              <%if story.image.present?%>
                <%=image_tag story.image.to_s, class: :mystory_novel_cover%>
              <%else%>
                <%=image_tag "no_image3.png", class: :mystory_novel_cover%>
              <%end%>
            </div>
            <div class="mystory_story_title_area">
              <div class="mystory_titles_area_explanation">
                タイトル：
                
                <div class="mystory_titles">
                  
                    <%=safe_join(story.title.split("\n"),tag(:br))%>
                  
                </div>
              </div>
              <div class="mystory_title_tags_explanation">
                タグ　　：
                <div class="mystory_title_tags">
                  <%if story.tag_list.present?%>
                    <%=render 'shared/mypage_tag_list', tag_list: story.tag_list%>
                  <%end%>
                </div>
              </div>
              
              <div class="mystory_upload_time_explanation">
                投稿日　：
                <div class="mystory_upload_time">
                  <%=story.created_at.strftime('%Y/%m/%d %H:%M')%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
      <div class="mypage_paginate">
        <%=paginate(@stories)%>
      </div>
    </div>
    <%if user_signed_in?%>
      <%if @user != current_user%>
        <%=render 'shared/not_current_side_menu'%>
      <%elsif @user == current_user%>
        <%=render 'shared/side_menu'%>
      <%end%>
    <%else%>
      <%=render 'shared/user_profile_side_menu'%>
    <%end%>
  </div>
</div>
