<div class="wrapper">
  <div class="mypagemain_title_area">
    <h1 class="mypagemain_title">
      <%if user_signed_in?%>
        <%if @user != current_user%>
          <%=@user.nickname%>さんのプロフィール
        <%elsif @user == current_user%>
          マイページ
        <%end%>
      <%else%>
        <%=@user.nickname%>さんのプロフィール
      <%end%>
    </h1>
  </div>
  <div class="mypagemain_container">
    <div class="mypagemain_main_contents">
      <div class="mypagemain_user_profile_area">
        <div class="mypagemain_user_image_area">
          <%if @user.my_image?%>
            <%=image_tag @user.my_image.to_s, class: :user_image%>
          <%else%>
            <%=image_tag "no_avatar.png", class: :user_image%>
          <%end%>
        </div>
        <div class="mypagemain_user_nickname">
          <%=@user.nickname%>
        </div>
        <div class="mypagemain_user_profile">
          <%=simple_format(@user.profile_text)%>
        </div>
      </div>
      <div class="establishment_list_title">
        開設一覧
      </div>
      <%@maintitles.each do |maintitle|%>
        <div class="mystory_titles_area">
          <%=link_to maintitle_post_list_path(maintitle), class: :mystory_titles do%>
            <div class="mystory_title">
              <%=maintitle.maintitle%>
            </div>
          <%end%>
          <div class="mystory_title_genres">
            <%=maintitle.genre%>
          </div>
          
          <div class="mystory_upload_time">
            <%=maintitle.created_at.strftime('%Y/%m/%d')%>
          </div>
        </div>
      <%end%>
      <div class="mypage_paginate">
        <%=paginate(@maintitles)%>
      </div>
      <div class="article_list_title">
        最近の投稿
      </div>
      <div class="mypage_article_list">
        <%@stories.each do |story|%>
          <div class="mystory_titles_area">
            <%@maintitle = story.maintitle%>
            <%=link_to maintitle_story_path(@maintitle, story), class: :mystory_titles do%>
              <div class="mystory_title">
                <%=story.title%>
              </div>
            <%end%>
            <div class="mystory_title_tags">
              <%=render 'shared/mypage_tag_list', tag_list: story.tag_list%>
            </div>
            <div class="mystory_upload_time">
              <%=story.created_at.strftime('%Y/%m/%d')%>
            </div>
          </div>
        <%end%>
      </div>
      <div class="mypage_paginate">
        <%=paginate(@stories)%>
      </div>
    </div> 
    <%if user_signed_in?%>
      <%if @user != current_user%>
        <%=render 'shared/not_current_side_menu'%>
      <%elsif @user == current_user%>
        <%=render 'shared/side_menu'%>
      <%end%>
    <%else%>
      <%=render 'shared/user_profile_side_menu'%>
    <%end%>
  </div>
</div>
