<div class="wrapper">
  <div class="mypagemain_title_area">
    <h1 class="mypagemain_title"><%=@user.nickname%>　の投稿一覧</h1>
  </div>
  
  <div class="story_container">
    <div class="story_main_contents">
      <div class="new_article_list">
        新着記事
      </div>
      <%@stories.each do |story|%>
        <div class="index_story_titles_area">
          タイトル：<%=link_to maintitle_story_path(story.maintitle_id, story), class: :story_titles do %>
            <div class="story_title">
              <%=story.title%>
            </div>
          <%end%>
          
          <div class="story_user_name">
            作成者：<%=link_to profile_user_path(story.user.id), class: :index_nickname do%>
              <%=story.user.nickname%>
            <%end%>
          </div>
          <div class="story_maintitle_genre_area">
            <div class="story_maintitle">
              小説名　：<%=link_to maintitle_post_list_path(story.maintitle_id), class: :index_maintitle do%>
                <%=story.maintitle.maintitle%>
              <%end%>

            </div>
            <div class="story_genre">
              <%=story.maintitle.genre%>
            </div>
          </div>
          <div class="tags_and_time_area">
          
            <div class="story_title_tags">
              タグ　　：<%=render 'shared/mypage_tag_list', tag_list: story.tag_list%>
            </div>
            <div class="mystory_upload_time">
              <%=story.created_at.strftime('%Y/%m/%d %H:%M')%>
            </div>
          </div>
        </div>
      <%end%>
      <div class="mypage_paginate">
        <%=paginate(@stories)%>
      </div>
    </div>
    <%if user_signed_in?%>
      <%if @user != current_user%>
        <%=render 'shared/not_current_side_menu'%>
      <%elsif @user == current_user%>
        <%=render 'shared/side_menu'%>
      <%end%>
    <%else%>
      <%=render 'shared/user_profile_side_menu'%>
    <%end%>
  </div>
</div>