<div class="wrapper">
  <div class="mypagemain_title_area">
    <h1 class="mypagemain_title"><%=safe_join(@user.nickname.split("\n"),tag(:br))%>の投稿一覧</h1>
  </div>
  
  <div class="story_container">
    <div class="story_main_contents">
      <div class="new_article_list">
        投稿一覧
      </div>
      <%@stories.each do |story|%>
        <%@maintitle = story.maintitle%>
        <%=link_to maintitle_story_path(@maintitle, story), class: :mystory_title do%>
          <div class="mystory_titles_area">
            <div class="mystory_novels_cover_area">
              <%if story.image.present?%>
                <%=image_tag story.image.to_s, class: :mystory_novel_cover%>
              <%else%>
                <%=image_tag "no_image3.png", class: :mystory_novel_cover%>
              <%end%>
            </div>
            <div class="mystory_story_title_area">
              <div class="mystory_titles_area_explanation">
                タイトル：
                
                <div class="mystory_titles">
                  
                    <%=safe_join(story.title.split("\n"),tag(:br))%>
                  
                </div>
              </div>
              <div class="mystory_title_tags_explanation">
                タグ　　：
                <div class="mystory_title_tags">
                  <%if story.tag_list.present?%>
                    <%=render 'shared/mypage_tag_list', tag_list: story.tag_list%>
                  <%end%>
                </div>
              </div>
              <div class="mystory_story_maintitle_explanation">
              小説名　：
                <div class="mystory_maintitle_name">
                  <%=safe_join(@maintitle.maintitle.split("\n"),tag(:br))%>
                </div>
              </div>
              <div class="mystory_maintitle_genre_explanation">
                ジャンル：
                <div class="mystory_maintitle_genre">
                  <%=@maintitle.genre%>
                </div>
              </div>
              <div class="mystory_upload_time_explanation">
                投稿日　：
                <div class="mystory_upload_time">
                  <%=story.created_at.strftime('%Y/%m/%d %H:%M')%>
                </div>
              </div>
              <div class="profile_story_review_explanation">
                <i class="fa fa-thumbs-o-up">
                </i>
                　　　:
                <%if story.reviews.present?%>
                  <%@a = []%>
                  <%story.reviews.each do |story|%>
                    <%p = story.review%>
                    <%@a.push(p)%>
                  <%end%>
                  <%story_review_count = @a.sum%>
                  <%=story_review_count%>
                <%else%>
                  0
                <%end%>
                
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
      <div class="mypage_paginate">
        <%=paginate(@stories)%>
      </div>
    </div>
    <%if user_signed_in?%>
      <%if @user != current_user%>
        <%=render 'shared/not_current_side_menu'%>
      <%elsif @user == current_user%>
        <%=render 'shared/side_menu'%>
      <%end%>
    <%else%>
      <%=render 'shared/user_profile_side_menu'%>
    <%end%>
  </div>
</div>