<h2 class="signup_title">パスワード再設定</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <div class="wrapper">
    <div class="signup_container">
      <main class="signup_password_contents">
        <section class="signup_content">
          <div class="signup_left_content">
            <div class="field">
              <p class="hissu">必須</p>
                <%= f.label :password, "新しいパスワード", class: "signup_explanation" %>
                <br />
                
                <%= f.password_field :password, autofocus: true, placeholder: "英数字8文字以上", autocomplete: "new-password", class: "input_signup_form" %>
              </div>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :password_confirmation, "新しいパスワード（再確認）" %>
              <br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_signup_form" %>
            </div>

            
          </div>

          <div class="signup_action_box">
            <div class="signup_action">
              <%= f.submit "再設定メールを送信する", class: "signup_actions_btn" %>
            </div>
            
          </div>
          
        </section>
      </main>
    </div>
  </div>

<% end %>

