<%= devise_error_messages! %>
<h2 class="signup_title">パスワード再設定</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="wrapper">
    <div class="signup_container">
      <main class="signup_password_contents">
        <section class="signup_content">
          <div class="signup_left_content">
            
            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :Eメールアドレス, class: "signup_explanation" %><br />
              <%= f.email_field :email, placeholder: "wakusto@com", autofocus: true, autocomplete: "email", class: "input_signup_form" %>
            </div>

          </div>

          <div class="signup_action_box">
            <div class="signup_action">
              <%= f.submit "パスワードを再設定する", class: "signup_actions_btn" %>
            </div>
            
          </div>
          <div class="signup_mail_info">
            ※メールの送信には数分かかる場合があります
          </div>
        </section>
      </main>
    </div>
  </div>
<%end%>

