<ul class="genre_dropdwn_menu">
  <li id="genre_area">
    <%=fa_icon 'search'%>ジャンル
    <ul>
      <%=link_to genreindex_path(search: "青春"), class: :dropdwn_genre_list do%>
      <li>
        
          青春
        
      </li>
      <%end%>
      <%=link_to genreindex_path(search: "恋愛"), class: :dropdwn_genre_list do%>
      <li>
        
          恋愛
        
      </li>
      <%end%>
      <%=link_to genreindex_path(search: "時代,歴史"), class: :dropdwn_genre_list  do%>
      <li>
        
          時代,歴史
        
      </li>
      <%end%>
      <%=link_to genreindex_path(search: "ホラー"), class: :dropdwn_genre_list  do%>
      <li>
        
          ホラー
        
      </li>
      <%end%>
      <%=link_to genreindex_path(search: "ファンタジー"), class: :dropdwn_genre_list  do%>
      <li>
        
          ファンタジー
        
      </li>
      <%end%>
      <%=link_to genreindex_path(search: "推理"), class: :dropdwn_genre_list  do%>
      <li>
        
          推理
        
      </li>
      <%end%>
      <%=link_to genreindex_path(search: "ライトノベル"), class: :dropdwn_genre_list  do%>
      <li>
        
          ライトノベル
        
      </li>
      <%end%>
      <%=link_to genreindex_path(search: "その他"), class: :dropdwn_genre_list  do%>
      <li>
        
          その他
        
      </li>
      <%end%>
    </ul>
  </li>
  <%# <li id="tag_area"> #開発中
    タグ
    <ul>
      <li>

      </li>
    </ul>
  </li> %>
</ul>
