<ul class="genre_dropdwn_menu">
  <li id="genre_area">
    <%=fa_icon 'search'%>ジャンル
    <ul>
      <li>
        <%=link_to genreindex_path(search: "小説"), class: :dropdwn_genre_list do%>
          小説
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "ブログ"), class: :dropdwn_genre_list do%>
          ブログ
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "情報共有"), class: :dropdwn_genre_list  do%>
          情報共有
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "エッセイ"), class: :dropdwn_genre_list  do%>
          エッセイ
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "コラム"), class: :dropdwn_genre_list  do%>
          コラム
        <%end%>
      </li>
    </ul>
  </li>
  <%# <li id="tag_area"> #開発中
    タグ
    <ul>
      <li>

      </li>
    </ul>
  </li> %>
</ul>
