<ul class="genre_dropdwn_menu">
  <li id="genre_area">
    <%=fa_icon 'search'%>ジャンル
    <ul>
      <li>
        <%=link_to genreindex_path(search: "青春"), class: :dropdwn_genre_list do%>
          青春
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "恋愛"), class: :dropdwn_genre_list do%>
          恋愛
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "時代,歴史"), class: :dropdwn_genre_list  do%>
          時代,歴史
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "ホラー"), class: :dropdwn_genre_list  do%>
          ホラー
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "ファンタジー"), class: :dropdwn_genre_list  do%>
          ファンタジー
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "推理"), class: :dropdwn_genre_list  do%>
          推理
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "ライトノベル"), class: :dropdwn_genre_list  do%>
          ライトノベル
        <%end%>
      </li>
      <li>
        <%=link_to genreindex_path(search: "その他"), class: :dropdwn_genre_list  do%>
          その他
        <%end%>
      </li>
    </ul>
  </li>
  <%# <li id="tag_area"> #開発中
    タグ
    <ul>
      <li>

      </li>
    </ul>
  </li> %>
</ul>
