<div class="wrapper">
  <div class="btn_space">
  <%if user_signed_in?%>
    <div class="header_btn_left_content">
      <p class="current_user_nickname">
        <%=current_user.nickname%>
      </p>
      <div class="header_my_image_area">
        <% if current_user.persisted? && current_user.my_image? %>
          <%=image_tag current_user.my_image.to_s, class: :header_my_image_icon%>
        <%else%>
          <%=image_tag "no_avatar.png", class: :header_my_image_icon%>
        <%end%>
      </div>
    </div>
    <div class="header_seach_area">
      <div class="dropdwn_search_area">
        <%=render 'shared/genre_dropdwn_menu'%>
      </div>

      <div class="title_search_area">
        <%=form_tag titleindex_path, method: :get, class: :title_search_form_area do %>
          <%=text_field_tag :search, "", class: :title_search_form, placeholder: 'タイトル' %>
          <%=button_tag type: "submit", class: :title_search_btn do %>
            <%=fa_icon 'search' %>
          <%end %>
        <%end %>
      </div>
      <div class="title_search_area">
        <%=form_tag maintitleindex_path, method: :get, class: :title_search_form_area do %>
          <%=text_field_tag :search, "", class: :title_search_form, placeholder: '開設名' %>
          <%=button_tag type: "submit", class: :title_search_btn do %>
            <%=fa_icon 'search' %>
          <%end %>
        <%end %>
      </div>
    </div>
    <div class="header_btn_right_content">
      <ul class="right_content_btns">
        <%=link_to root_path, class: "sign_btn" do%>
          <li id="right_content_btn">
            トップページ
          </li>
        <%end%>
        <%=link_to mypagemain_user_path(current_user), class: "sign_btn" do%>
          <li id="right_content_btn">
            マイページ
          </li>
        <%end%>
        <%=link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "sign_btn" do%>
          <li id="right_content_btn">
            ログアウト
          </li>
        <%end%>
        
      </ul>
    </div>
  <%else%>
    <div class="header_btn_left_content">
      <p class="current_user_nickname">
        こんにちはゲストさん
      </p>
      <div class="header_my_image_area">
        <%=image_tag "no_avatar.png", class: :header_my_image_icon%>
      </div>
    </div>
    <div class="header_seach_area">
      <div class="dropdwn_search_area">
        <%=render 'shared/genre_dropdwn_menu'%>
      </div>
      <div class="title_search_area">
        <%=form_tag titleindex_path, method: :get, class: :title_search_form_area do %>
          <%=text_field_tag :search, "", class: :title_search_form, placeholder: "タイトル" %>
          <%=button_tag type: "submit", class: :title_search_btn do %>
            <%=fa_icon 'search' %>
          <%end %>
        <%end %>
      </div>
      <div class="title_search_area">
        <%=form_tag maintitleindex_path, method: :get, class: :title_search_form_area do %>
          <%=text_field_tag :search, "", class: :title_search_form, placeholder: '開設名' %>
          <%=button_tag type: "submit", class: :title_search_btn do %>
            <%=fa_icon 'search' %>
          <%end %>
        <%end %>
      </div>
    </div>
    <div class="header_btn_right_content">
      <ul class="right_content_btns"> 
        <%=link_to root_path, class: "sign_btn" do %>
          <li id="right_content_btn">
            トップページ
          </li>
        <%end%>
        <%=link_to new_user_registration_path, class: "sign_btn" do%>
          <li id="right_content_btn">
            新規登録
          </li>
        <%end%>
        <%=link_to new_user_session_path, class: "sign_btn" do %>
          <li id="right_content_btn">
            ログイン
          </li>
        <%end%>
      </ul>
    </div>
  <%end%>
  </div>
</div>