<div class="wrapper">
  <div class="btn_space">
  <%if user_signed_in?%>
    <div class="header_btn_left_content">
      <p class="current_user_nickname">
        こんにちは<%=current_user.nickname%>さん
      </p>
      <div class="header_my_image_area">
        <% if current_user.persisted? && current_user.my_image? %>
          <%=image_tag current_user.my_image.to_s%>
        <%else%>
          <%=image_tag "no_avatar.png", class: :header_my_image_icon%>
        <%end%>
      </div>
    </div>
    <div class="header_btn_right_content">
      <ul>
        <li id="signout_tag">
          <%=link_to destroy_user_session_path, method: :delete, class: "sign_btn" do%>
            ログアウト
          <%end%>
        </li>
        <li id="my_page_tag">
          <%=link_to "#", class: "sign_btn" do%>
            マイページ
          <%end%>
        </li>
        <li id="post_tag">
          <%=link_to "#", class: "post_tag" do%>
            投稿する
          <%end%>
        </li>
      </ul>
    </div>
  <%else%>
      <ul>
        <li id="signup_tag">
        <%=link_to new_user_registration_path, class: "sign_btn" do%>
            新規登録
        </li>
        <%end%>
        <li id="login_tag">
        <%=link_to new_user_session_path, class: "sign_btn" do %>
          ログイン
        <%end%>
        </li>
      </ul>
  <%end%>
  </div>
</div>