<div class="header_categorys_space">
  <ul class="header_categorys_ul">
    <%=link_to "#", class: :header_category do%>
      <li>小説</li>
    <%end%>
    <%=link_to "#", class: :header_category do%>
      <li>ブログ</li>
    <%end%>
    <%=link_to "#", class: :header_category do%>
      <li>エッセイ</li>
    <%end%>
    <%=link_to "#", class: :header_category do%>
      <li>コラム</li>
    <%end%>
    <%=link_to "#", class: :header_category do%>
      <li>漫画</li>
    <%end%>
  </ul>
</div>