<div class="profile_side_contents">
  
  <div class="side_content_top">
    <%=link_to establishment_user_path(@user), class: :side_menu_list do%>
      このユーザーの小説一覧
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to user_post_list_user_path(@user), class: :side_menu_list do%>
      このユーザーの投稿一覧
    <%end%>
  </div>
  <div class="side_content_signup_area">
    <div class="side_content_top">
    <%=link_to root_path, class: :side_menu_list do%>
      トップページ
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to mypagemain_user_path(current_user), class: :side_menu_list do%>
      マイページ
    <%end%>
  </div>
  
  <div class="side_content">
    <%=link_to favorite_list_user_path(current_user), class: :side_menu_list do%>
      お気に入りタイトル一覧
    <%end%>
  </div>
  
  <div class="side_content">
    <%=link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: :side_menu_list do%>
      ログアウト
    <%end%>
  </div>
  </div>
  
</div>