<div class="mypagemain_side_contents">
  <div class="side_content_top">
    <%=link_to root_path do%>
      トップページ
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to new_maintitle_path do%>
      新しく開設する
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to establishment_user_path(current_user) do%>
      開設一覧
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to user_post_list_user_path(current_user) do%>
      投稿一覧
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to edit_user_registration_path do%>
      プロフィールを編集する
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} do%>
      ログアウト
    <%end%>
  </div>
</div>