<div class="wrapper">
  <div class="story_new_title_contents">
    <h1 class="story_new_title_content">記事を編集</h1>
  </div>
  <div class="story_new_container">
    <div class="story_new_main_contents">
      <%=form_with model: [@maintitle, @story], local:true do |f|%>
        <div class="field">
          <p class="hissu">必須</p>
          <%=f.label :タイトル, class: :story_new_explanation %><br />
          <%=f.text_field :title, class: 'input_story_new_form', value: @story.title %>
        </div>
        <div class="form-group">
        <p class="ninni">任意</p>
          <%=f.label :tag_list, "タグをカンマ(小文字)区切りで入力" %><br />
          <%=f.text_field :tag_list, value: @story.tag_list.join(','), "data-role" => "tagsinput", class: "form-control" %>
        </div>
        <div class="form-group">
          <p class="ninni">任意</p>
          <%=f.label :image, class: :story_new_explanation do%>画像アップロード<br />
            <%=fa_icon "camera-retro", class: "input_my_image_icon" %>
            <%=f.file_field :image, class: 'input_story_file_btn' %>👈クリックで画像アップロード（５MBまで）
            <div class="story_file_view_area">
              <%if @story.image?%>
                <%=image_tag @story.image.to_s, class: :story_file_view_image%>
              <%else%>
                <%=image_tag "no_file2.jpeg", class: :story_file_view_image%>
              <%end%>
            </div>
          <%end%>
          <p><%=f.check_box :remove_image, id: :story_new_image_delete_btn%>　登録画像を削除</p>
        </div>
        
        <div class="field form-group">
          <p class="ninni">任意</p>
          <%=f.label :画像の説明（画像がない場合反映されません）, class: :story_new_explanation %><br />
          <%=f.text_field :image_explanation, class: 'input_story_new_form' %>
        </div>
        <div class="field">
          <p class="hissu">必須</p>
          <%=f.label :記事, class: :story_new_explanation %><br />
          <%=f.text_area :story, rows: 20, class: 'input_story_new_form', value: @story.story %>
        </div>
        
        <%=f.submit "編集する", data: {confirm: "編集しますか？"}, class: 'btn btn-primary'%>
        
      <%end%>
    </div>
  </div>
</div>