
<div class="wrapper">
  
  <h1 class="story_explanation">新着一覧</h1>
  <div class="story_container">
    <div class="story_main_contents">
      <%@stories.each do |story|%>
        <div class="story_titles_area">
          <%=link_to maintitle_story_path(@maintitle, story), class: :story_titles do %>
            <div class="story_title">
            ○　<%=story.title%>
            </div>
          <%end%>
          <div class="story_genre">
            <%if story.maintitle_id?%>
              <%=story.maintitle.genre%>
            <%end%>
          </div>
          <div class="story_user_name">
            投稿者：<%=link_to profile_user_path(story.user.id) do%>
              <%=story.user.nickname%>
            <%end%>
          </div>
          <div class="tags_and_time_area">
            <div class="story_title_tags">
              <%=render 'shared/mypage_tag_list', tag_list: story.tag_list%>
            </div>
            <div class="mystory_upload_time">
              <%=story.created_at.strftime('%Y/%m/%d %H:%M')%>
            </div>
          </div>
        </div>
      <%end%>
      <div class="mypage_paginate">
        <%=paginate(@stories)%>
      </div>
    </div>
  </div>
</div>
     

