
<div class="wrapper">
  <div class="story_index_title_area", style="background-image: url(/images/index_image_3.jpg)">
    <h1 class="story_index_title">
      Wakuwaku Story
    </h1>
    <p class="story_index_subtitle">
      オリジナルをシェアしよう<br />WakuwakuStoryはオリジナルの小説をシェアできるサービスです
    </p>
    <%=link_to "https://www.pakutaso.com", title: "フリー写真素材ぱくたそ", class: :pakutaso do%>
      提供元：フリー写真素材ぱくたそ
    <%end%>
  </div>
  
  <div class="story_container">
    <div class="story_main_contents">
      <div class="new_article_list">
        小説一覧
      </div>
      <%@maintitles.each do |maintitle|%>
        <%=link_to maintitle_post_list_path(maintitle), class: :index_maintitle_image_path do%>
          <div class="index_story_titles_area">
            
              <div class="index_maintitle_image_area">
                <%if maintitle.cover.present?%>
                  <%=image_tag maintitle.cover.url, class: :index_maintitle_image%>
                <%else%>
                  <%=image_tag "no_image3.png", class: :index_maintitle_image%>
                <%end%>
              </div>
            
            <div class="index_maintitle_content">
              
              <div class="story_maintitle">
                  <%=safe_join(maintitle.maintitle.split("\n"),tag(:br))%>
              </div>
              <div class="story_genre">
                <%=maintitle.genre%>
              </div>
              <div class="story_user_name">
                <%user = User.find(maintitle.user_id)%>
                  <%=user.nickname%>
              </div>
              <div class="maintitle_all_review">
                <i class="fa fa-thumbs-o-up">
                </i>
                <%=maintitle.all_review%>
                　
                <i class="fa fa-heart-o ">
                </i> 
                <%=maintitle.all_favorite%>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
      <div class="index_paginate">
        <%=paginate(@maintitles)%>
      </div>
    </div>
    <%if user_signed_in?%>
      <%=render 'shared/side_menu'%>
    <%else%>
      <%=render 'shared/profile_side_menu'%>
    <%end%>
  </div>
  
</div>
     

