<div class="wrapper">
  <div class="story_new_title_contents">
    <h1 class="story_new_title_content">
      <%=@maintitle.maintitle%>の記事を登録
    </h1>
  </div>
  <div class="story_new_container">
    <div class="story_new_main_contents">
      <%=form_with model: [@maintitle, @story], local:true do |f|%>
        <div class="field">
          <p class="hissu">必須</p>
          <%=f.label :タイトル, class: :story_new_explanation %><br />
          <%=f.text_field :title, class: 'input_story_new_form' %>
        </div>
        <div class="form-group">
        <p class="ninni">任意</p>
          <%=f.label :tag_list, "タグをカンマ(小文字)区切りで入力" %><br />
          <%=f.text_field :tag_list, value: @story.tag_list.join(','), "data-role" => "tagsinput", class: "form-control" %>
        </div>
        <div class="form-group">
          <p class="ninni">任意</p>
          <%=f.label :画像アップロード, class: :story_new_explanation %><br />
          <%=f.file_field :image, class: 'input_story_file_btn' %>
        </div>
        <div class="field form-group">
          <p class="ninni">任意</p>
          <%=f.label :画像の説明, class: :story_new_explanation %><br />
          <%=f.text_field :image_explanation, class: 'input_story_new_form' %>
        </div>
        <div class="field">
          <p class="hissu">必須</p>
          <%=f.label :記事, class: :story_new_explanation %><br />
          <%=f.text_area :story, rows: 20, class: 'input_story_new_form' %>
        </div>
        
        <%=f.submit "投稿する", class: 'btn btn-primary'%>
      <%end%>
    </div>
  </div>
</div>