<h2>記事の新規作成</h2>
<%= form_for(@stories) do |s| %>
  <div class="field">
    <%= s.label :title %>
    <%= s.text_field :title %>

    <div class="article-tags-field">
      <%= s.label "カテゴリー" %>
      <ul id="article-tags">
      </ul>
    </div>    

    <%= s.label :body %>
    <%= s.text_field :story %>

    <%= s.submit "記事作成" %>
  </div>
<% end %>