<div class="wrapper">
  <div class="story_new_title_contents">
    <h1 class="story_new_title_content">
      <%=@maintitle.maintitle%>の小説を投稿する
    </h1>
  </div>
  <div class="story_new_container">
    <div class="story_new_main_contents">
      <%=form_with model: [@maintitle, @story], local:true do |f|%>
        <div class="field">
          <p class="hissu">必須</p>
          <%=f.label :タイトル, class: :story_new_explanation %><br />
          <%=f.text_area :title, placeholder: "例）〜第○章〜など", class: 'input_story_new_form' %>
        </div>
        <div class="form-group">
          <p class="ninni">任意</p>
          <%=f.label :tag_list, "タグをカンマ(小文字)区切りで入力" %><br />
          <%=f.text_field :tag_list, value: @story.tag_list.join(','), "data-role" => "tagsinput", class: "form-control" %>
        </div>
        <div class="form-group">
          <p class="ninni">任意</p>
          <%=f.label :image, class: :story_new_explanation do%>挿絵をアップロード（5MBまで）<br />
            <%=fa_icon "camera-retro", class: "input_my_image_icon" %>
            <%=f.file_field :image, class: 'input_story_file_btn' %>
          <%end%>
          <p class="input_story_file_explanation">
            👈クリック<br />　　横向きに表示されても投稿時には縦になります
          </p>
          <div class="story_file_view_area">
            <%=image_tag "no_image3.png", class: :story_file_view_image%>
          </div>
          <p><%=f.check_box :remove_image, id: :story_new_image_delete_btn%>　登録画像を削除</p>
        </div>
        <div class="field form-group">
          <p class="ninni">任意</p>
          <%=f.label :前回のあらすじなど、自由に投稿, class: :story_new_explanation %><br />
          <%=f.text_area :synopsis, class: 'input_story_new_form' %>
        </div>
        <div class="field form-group">
          <p class="hissu">必須</p>
          <%=f.label :執筆, class: :story_new_explanation %><br />
          <%=f.text_area :story, rows: 4, class: 'input_story_new_form' %>
        </div>
        <div class="field form-group">
          <p class="ninni">任意</p>
          <%=f.label :次回予告など、自由に投稿, class: :story_new_explanation %><br />
          <%=f.text_area :notice, class: 'input_story_new_form' %>
        </div>
        
        <%=f.submit "投稿する", class: 'btn btn-primary'%>
      <%end%>
    </div>
    <div class="story_new_side_menu">
      <%=render 'shared/side_menu'%>
    </div>
  </div>
</div>