<div class="wrapper">
  <div class="story_show_contener">
    <div class="story_show_main_contener">
      <div class="story_show_title_area">
        <h1 class="story_show_title">
          <%=safe_join(@story.title.split("\n"),tag(:br))%>
        </h1>
      </div>

      <div class="story_show_genre_tag_area">

        <div class="story_show_maintitle_area">
          <div class="story_show_maintitle_explanation">
            小説名　：
            <div class="story_show_maintitle">
              <%=link_to maintitle_post_list_path(@maintitle), class: :story_show_maintitle_link do%>
                <%=safe_join(@maintitle.maintitle.split("\n"),tag(:br))%>
              <%end%>
            </div>
          </div>
        </div>
        <div class="story_maintitle_genre_area">
          ジャンル：
          <div class="story_maintitle_genre">
            <%=@maintitle.genre%>
          </div>
        </div>
        <div class="show_review_all_count_area">
          
          <i class="fa fa-thumbs-o-up">
          </i> 
          <i class="review_all_count_area">
            <%if @story_review_count.present?%>
              <%=render 'shared/maintitle_all_review_count'%>
            <%else%>
              <i>
                0
              </i>
            <%end%>
            
          </i>
          　
          <i class="fa fa-commenting-o ">
          </i>
          <i class="comment_count_area">
            <%if @story.comments.present?%>
              <i class="comment_count">
                <%=@story.comments.count%>
              </i>
            <%else%>
              0
            <%end%>
          </i>
        </div>

        <div class="story_show_tag_list_area">
          <p class="story_show_tag_list_title">
            タグ
          </p>
          <div class="story_show_tag_list">
            <%=render 'stories/tag_list', tag_list: @story.tag_list%>
          </div>
        </div>
      </div>

      <div class="story_user_nickname_area">
        
        <div class="story_user_my_image_icon_area">
          <%if @story.user.my_image.present?%>
            <%=image_tag @story.user.my_image.to_s, class: :story_user_my_image_icon%>
          <%else%>
            <%=image_tag "no_avatar.png", class: :story_user_my_image_icon%>
          <%end%>
        </div>
        <h1 class="story_user_nickname">
          著者：<%=@story.user.nickname%>
        </h1>

      </div>
      <%if @story.image.present?%>
        <div class="story_show_image_area">
          <%=image_tag @story.image.to_s, class: :story_show_image%>
        </div>
      <%end%>
      <%if @story.synopsis.present?%>
        <div class="story_show_image_explanation_area">
          <%=safe_join(@story.synopsis.split("\n"),tag(:br))%>
        </div>
      <%end%>
      <div class="story_show_story">
        <%=safe_join(@story.story.split("\n"),tag(:br))%>
      </div>

      <%if @story.notice.present?%>
        <div class="story_show_notice_area">
          <%=safe_join(@story.notice.split("\n"),tag(:br))%>
        </div>
      <%end%>

      <div class="previous_next_link_area">
          <div class="previous_link">
            <%if @story.previous%>
              <%=link_to maintitle_story_url(@maintitle, @story.previous), {class:"previous_btn"} do%>
              <i class="fa fa-chevron-left "></i> 
                前の話へ
              <%end%>
            <%end%>
          </div>

          <div class="next_link">
            <%if @story.next%>
              <%=link_to maintitle_story_url(@maintitle, @story.next), {class: "next_btn"} do%>
                次の話へ
                <i class="fa fa-chevron-right"></i> 
              <%end%>
            <%end%>
          </div>
        </div>

      <%if user_signed_in?%>
        <%if @story.user_id == current_user.id%>
          <div class="mystory_new_edit_delete_area">
            <div class="mystory_new_edit_delete">
              <%=link_to new_maintitle_story_path(@maintitle), class: :mystory_new_edit_delete_btn do%>
                続きの話を書く
              <%end%>
              <%=link_to edit_maintitle_story_path(@maintitle, @story), class: "mystory_new_edit_delete_btn" do%>
                編集する
              <%end%>
              <%=link_to maintitle_story_path(@maintitle, @story), method: :delete, data: {confirm: "「#{@story.title}」を削除しますか？"}, class: "mystory_new_edit_delete_btn" do%>
                削除する
              <%end%>
            </div>
          </div>
        <%end%>
        <%if @story.user_id != current_user.id%>

          <div class="like_review_area">
              <%=link_to maintitle_story_like_review_path(@maintitle, @story), method: :post, remote: :true, class: :like_review_btn do%>
                <div class="like_review_link">
                  <div class="like_review", id="<%=@maintitle.id%>">
                    面白かった数だけここをクリック！
                  </div>
                </div>
              <%end%>
            
          </div>
        <%end%>
        
        <%if user_signed_in?%>
          <%if @story.user_id != current_user.id%>
            <div class="show_review_my_count_area">
              あなたの評価：
              <i class="fa fa-thumbs-o-up ">
              </i> 
              <i class="review_my_count_area">
                <%if @review.present?%>
                  <i class="my_count">
                    <%=@review.review%>
                  </i>
                <%else%>
                  <i class="my_count">
                    0
                  </i>
                <%end%>
              </i>
            </div>
            <%=link_to maintitle_story_unlike_review_path(@maintitle, @story), method: :delete, remote: :true, class: :unlike_review_btn do%>
              評価をリセットする
            <%end%>
          <%end%>
        <%end%>
        
        
          
        

        <%if @story.user_id != current_user.id%>
          <div class="story_show_comment_input_area">
            <%=form_with model:[@maintitle, @story, @comment], local:true, id: "new_comment" do |f|%>
              <div>
                <%=f.label :コメントを投稿する, class: :story_show_explanation%>
              </div>
              <div>
                <%=f.text_area :comment, rows: 3, class: :story_show_text_area, name: :comment%>
              </div>
              <%=f.submit "コメントを投稿する", class: 'btn-primary'%>
            <%end%>
          </div>
        <%end%>
      <%else%>
        <div class="story_show_comment_input_area">
          コメントを投稿する場合は
          <%=link_to new_user_session_path, class: :story_show_signup_btn do%>
          ログイン
          <%end%>
          してください
        </div>
      <%end%>

      <h2 class="story_show_comment_title">
        コメント
      </h2>
      <div id="story_show_comment_content">
      <%# 非同期用の要素%>
      </div>
      
      <%if @comments%>
        <%@comments.each do |comment|%>
          <div class="story_show_comment_area", id="story_show_comment_area_<%=comment.id%>">
          
            <%if comment.user.my_image.present?%>
              <div class="show_user_image">
                <%=image_tag "#{comment.user.my_image}", class: :story_comment_user_icon%>
              </div>
            
            <%else%>
              <div class="show_user_image">
                <%=image_tag "no_avatar.png", class: :story_comment_user_icon%>
              </div>
              
            <%end%>
            <div class="story_comment_area">
              <%=comment.user.nickname%>:
              <div class="story_comment_time">
                <%=comment.created_at.strftime('%Y/%m/%d %H:%M')%>
              </div>
            </div>
            <%if user_signed_in?%>
              <%if comment.user == current_user%>
                <%@comment_id = comment.id%>
                <%=link_to maintitle_story_comment_path(@maintitle, @story, comment), method: :delete, remote: :true, class: "story_comment_delete_link", id: "#{@comment_id}" do%>
                  削除
                <%end%>
              <%else%>
              <%end%>
            <%else%>
            <%end%>
            <br />
            <div class="story_user_comment">
              <%=safe_join(comment.comment.split("\n"),tag(:br)) %>
            </div>
          </div>
        <%end%>
        
      <%end%>
      <div class="return_top_page">
        <%=link_to root_path, class: :return_top_page_btn do%>
          トップページに戻る
        <%end%>
      </div>
    </div>
    <%if user_signed_in?%>
      <%if @user != current_user%>
        <%=render 'shared/not_current_side_menu'%>
      <%elsif @user == current_user%>
        <%=render 'shared/side_menu'%>
      <%end%>
    <%else%>
      <%=render 'shared/user_profile_side_menu'%>
    <%end%>
  </div>
</div>