<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="wrapper">
    <div class="signup_container">
      <main class="signup_contents">
        <section class="signup_content">
          <div class="signup_left_content">
            
            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :Eメールアドレス, class: "signup_explanation" %><br />
              <%= f.email_field :email, placeholder: "wakusto@com", autofocus: true, autocomplete: "email", class: "input_signup_form" %>
            </div>

            <div class="field">
              <p class="hissu">必須</p>
              <%= f.label :パスワード, class: "signup_explanation" %>
              <br />
              <%= f.password_field :password, placeholder: "英数字8文字以上", autocomplete: "new-password", class: "input_signup_form" %>
            </div>
          </div>

          <div class="signup_action_box">
            <div class="signup_action">
              <%= f.submit "登録するしてメイン画面に戻る", class: "signup_actions_btn" %>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
<% end %>
      
    
  
