<div class="wrapper">
  <div class="mypagemain_title_area">
    <h1 class="mypagemain_title">"<%=@search%>"の検索結果一覧</h1>
  </div>
  
  <div class="mypagemain_container">
    <div class="mypagemain_main_contents">
      <div class="new_article_list">
        著者一覧
      </div>
      <%if @search != ""%>
        <%if @users.present?%>
          <%@users.each do |user|%>
            <%=link_to profile_user_path(user), class: :mystory_titles do%>
              <div class="mystory_novels_area">
                <div class="mystory_novels_cover_area">
                  <%if user.my_image.present?%>
                    <%=image_tag user.my_image.to_s, class: :mystory_novel_cover%>
                  <%else%>
                    <%=image_tag "no_image3.png", class: :mystory_novel_cover%>
                  <%end%>
                </div>
                <div class="mystory_maintitle_explanation_area">
                  
                  <div class="mystory_title_author_explanation">
                    著者：
                    <div class="mystory_title_author">
                      <%=safe_join(user.nickname.split("\n"),tag(:br))%>
                    </div>
                  </div>
                  <%@user_story = Story.where(user_id: user.id)%>
                  <%@reviews = Review.where(story_id: @user_story.ids)%>
                  <%@a = []%>
                  <%@reviews.each do |reviews|%>
                    <%p = reviews.review%>
                    <%@a.push(p)%>
                  <%end%>
                  <%@review_user_count = @a.sum%>
                  
                  <div class="mystory_maintitle_review_explanation">
                    <i class="fa fa-thumbs-o-up">
                    </i>
                    　　　:
                    <%if @review_user_count.present?%>
                      <%=@review_user_count%>
                    <%else%>
                      0
                    <%end%>
                    
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
        <%else%>
          見つかりませんでした
        <%end%>
      <%else%>
        見つかりませんでした
      <%end%>
      <%if @search != ""%>
        <%if @stories.present?%>
          <div class="mypage_paginate">
            <%=paginate(@stories)%>
          </div>
        <%end%>
      <%end%>
    </div>
    <%if user_signed_in?%>
      <%=render 'shared/side_menu'%>
    <%else%>
      <%=render 'shared/profile_side_menu'%>
    <%end%>
  </div>
</div>