<!DOCTYPE html>
<html>
  <head>
    <title>Wakuwakustory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%=render "shared/header" %>
  <%=link_to root_path, class: :signup_root_link do%>
  　ホーム画面に戻る
  <%end%>
    <%= yield %>
  <%=render "shared/footer"%>
  </body>
</html>
